{% extends 'base.html.twig' %}

{% block title %}Produits index
{% endblock %}

{% block body %}
	<h1>Produits</h1>

	<form class="" role="search">
		<div class="d-flex col-2 mx-auto column-gap-2" >
			<div>
				<input class="form-control searchbar m-3" type="search" placeholder="Search" aria-label="Search">
			</div>
			<div>
				<button class="btn btn-outline-success m-3" type="submit">Search</button>
			</div>
		</div>
	</form>

	{% for produit in produits %}
		<section class="d-flex flex-column align-items-center ">
			<div class="card" style="width: 25rem;">
				<img src="{{ asset('img/' ~ produit.imageProduit) }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title">{{ produit.nomProduit }}</h4>
					<p class="card-text">Description:
						{{ produit.descriptionProduit }}</p>
					<p class="card-text">Réf.
						<b>{{ produit.reference.numeroReference }}</b>&nbsp&nbsp
						Cat.
					<b>{{produit.category.nomCategory}}</b>
					</p>
					
				</div>
				<ul class="list-group list-group-flush">

					<li class="list-group-item">Prix:
						{{ produit.prixProduit }} €</li>
					<li class="list-group-item">En stock:
						{{ produit.stockProduit ? 'disponible' : 'rupture de stock' }}</li>
					<li class="list-group-item">Date de dépôt:
						{{ produit.dateDepotProduit ? produit.dateDepotProduit|date('d/m/Y') : '' }}</li>

					{% if produit.stockProduit == 'disponible' %}
					<ul class="list-group list-group-flush mb-2 " style="padding-left: 1rem">Enseigne(s) :
						{% for enseignes in produit.enseignes %}
							<li class="list-group-item pt-0 pb-0 ms-5"> - {{ enseignes.nomEnseigne}}</li>
						{% endfor %}
					{% endif %}
					</ul>
				</ul>
				{% if app.user %}
					<div class="card-body">
						<a href="{{ path('app_produits_show', {'id': produit.id}) }}" class="card-link">Fiche produit</a>
						<a href="{{ path('app_produits_edit', {'id': produit.id}) }}" class="card-link">Modifier
						</a>
					</div>
				{% endif %}
			</div>
		</section><br>
	{% else %}
		<tr>
			<td colspan="8">no records found</td>
		</tr>

	{% endfor %}
	{% if app.user %}
		<div class="d-flex col-1 mx-auto mb-3">
			<a class="btn btn-success" href="{{ path('app_produits_new') }}">Ajouter un produit</a>
		</div>
	{% endif %}

{% endblock %}
{# <table class="table table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col" class="col-auto">Nom_produit</th>
				<th scope="col">Description_produit</th>
				<th scope="col">Image_produit</th>
				<th scope="col">Prix_produit</th>
				<th scope="col">Stock_produit</th>
				<th scope="col">Date_depot_produit</th>
				<th scope="col" style="text-align: center">actions</th>
			</tr>
		</thead>
		<tbody>
				{% for produit in produits %}
				<tr>
					<td class="align-middle">{{ produit.id }}</td>
					<td class="align-middle ">{{ produit.nomProduit }}</td>
					<td class="align-middle">{{ produit.descriptionProduit }}</td>
					<td class="align-middle" width="8%">
						<img class="img-fluid img-thumbnail" src="{{ asset('img/' ~ produit.imageProduit) }}" alt="" />
						</td>
					<td class="align-middle">{{ produit.prixProduit }}
						€</td>
					<td class="align-middle">{{ produit.stockProduit ? 'Yes' : 'No' }}</td>
					<td class="align-middle">{{ produit.dateDepotProduit ? produit.dateDepotProduit|date('d/m/Y') : '' }}</td>
					<td class="align-middle">
						{% if app.user %}
						
							<a class="btn btn-success" href="{{ path('app_produits_show', {'id': produit.id}) }}" style="text-decoration: none; color: white; ">voir</a>
							{# class="btn btn-outline-success"  #}
{# <a class="btn btn-success" href="{{ path('app_produits_edit', {'id': produit.id}) }}" style="text-decoration: none; color: white; ">modifier</a>

							<a class="btn btn-success" href="{{ path('app_produits_delete', {'id': produit.id }) }}" style="text-decoration: none; color: white; ">supprimer</a>
						{% endif %}
					</td>
				</tr>
		</tbody>
	</table> #}
