{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}

	<section class="d-flex flex-column align-items-center ">
		<h2>Produit du mois</h2>
		<div class="card" style="width: 18rem;">
			<img src="{{ asset('img/' ~ produitVedette.imageProduit) }}" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">
					<b>{{ produitVedette.nomProduit }}</b>
					<span>{{ produitVedette.prixProduit }}
						€</span>
				</p>
				<p class="card-text">Réf.
					{{ produitVedette.reference.numeroReference }}&nbsp&nbsp Cat.
					{{ produitVedette.category.nomCategory }}</p>
			</div>
			<a class="btn btn-outline-success" href="{{ path('app_produits_show', {'id': produitVedette.id}) }}">Voir le produit</a>
		</div>
	</section>

	<hr>


		<div
			class="d-flex col-3 mx-auto column-gap-1">
			{# <input class="form-control searchbar m-4" type="search" name="ref" placeholder="Search" aria-label="Search"> #}
			<a href="{{path('app_search_index')}}" class="btn btn-success m-4">Rechercher par nom, référence, categorie, distributeur</a><br>
		</div>

		{# ! All products with pagination #}
		<div class="d-flex justify-content-center mx-auto gap-3 mb-3">
			{# total items count #}
			<h4 class="text-center">Tous les produits ( x
				{{ pagination.getTotalItemCount }})</h4>
			{# display navigation #}
			<h5>{{ knp_pagination_render(pagination) }}</h5>
		</div>

		<section class="d-flex justify-content-center mx-auto gap-3 ">
			{% for produit in pagination %}
			{# ! All products with pagination #}
				{# {% for produit in produits %} #}
				{# <section class="d-flex flex-column align-items-center "> #}
					<div class="card" style="width: 25rem;"> <img src="{{ asset('img/' ~ produit.imageProduit) }}" class="card-img-top " alt="...">
					<div class="card-body">
						<h4 class="card-title">{{ produit.nomProduit }}</h4>
						<p class="card-text">Description:
							{{ produit.descriptionProduit }}</p>
						<p class="card-text">Réf.
							<b>{{ produit.reference.numeroReference }}</b>&nbsp&nbsp Cat.<b>{{produit.category.nomCategory}}</b>
						</p>

					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Prix:
							{{ produit.prixProduit }}
							€</li>
						<li class="list-group-item">En stock:
							{{ produit.stockProduit ? 'disponible' : 'rupture de stock' }}</li>
						<li class="list-group-item">Date de dépôt:
							{{ produit.dateDepotProduit ? produit.dateDepotProduit|date('d/m/Y') : '' }}</li>

						{% if produit.stockProduit == 'disponible' %}
							<ul class="list-group list-group-flush mb-2 " style="padding-left: 1rem">Enseigne(s) :
								{% for enseignes in produit.enseignes %}
									<li class="list-group-item pt-0 pb-0 ms-5">
										-{{ enseignes.nomEnseigne}}
										</li>
								{% endfor %}
							{% endif %}
						</ul>
					</ul>
					{% if app.user %}

						<div></div>
						<a class="btn btn-outline-success" href="{{ path('app_produits_show', {'id': produit.id}) }}">Voir le produit</a>

						{# <a href="{{ path('app_produits_show', {'id': produit.id}) }}" class="card-link">Fiche produit</a> #}
						{# <a href="{{ path('app_produits_edit', {'id': produit.id}) }}" class="card-link">Modifier
																												</a> #}
					</div>

				{% endif %}
			</div>
			<br>
		{% else %}
			<tr>
				<td colspan="8">no records found</td>
			</tr>
		{% endfor %}
	</section>
	{% if app.user %}
		<div
			class="d-flex col-1 mx-auto mb-3">{# <a class="btn btn-success" href="{{ path('app_produits_new') }}">Ajouter un produit</a> #}
		</div>
	{% endif %}
{% endblock %}

